body{
	margin:0;
	padding:0;
	h4{
		font-weight: bold;
	}
	
}
.fotos{
	margin:30px;
	width:170px;
	img{
	margin-top:60px;
	height:300px;
	}
	
}

.fotostres{
	margin:30px;
	width:170px;
	margin-bottom:30px;
}

.lista{
	img{
		width:170px;
		border-radius:20px;
	}
}