body{
	margin:0;
	padding:0;
	h4{
		font-weight: bold;
	}
	
}
nav{
	border-bottom:1px solid grey;
	height:45px;
}
.ini{
	margin-top:5px;
}
.inicio{
	color:grey;
}
.fa-pinterest{
	margin-left:20px;
	color:red;
	font-size:30px;
}

.input-group{
	width:800px;
	margin-left:100px;
	margin-top:-30px;
	position:absolute;
}
.pines{
	width:200px;
	position:absolute;
	margin-left:910px;
	margin-top:-30px;


}
.barras{
	position:absolute;
	margin-left:1130px;
	margin-top:-30px;
	font-size:25px;
	color:grey;
}

.chat{
	position:absolute;
	margin-left:1165px;
	margin-top:-30px;
	font-size:25px;
	color:grey;
}
.fotos{
	margin:30px;
	width:200px;
	img{
	margin-top:60px;
	height:300px;
	}
	
}

.fotostres{
	margin:30px;
	width:200px;
	margin-bottom:30px;
}

.lista{
	img{
		width:200px;
		border-radius:20px;
	}
}